body {
	/*background-color: #bbbabf;
	background-color: #f9f9d7;*/
	background-color: #e3e3e3;
}

div.main {
	width: 800px;
	height: 640px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	/*border: 2px solid #531b76;*/
	border: 3px solid #565656;
	margin-top: 60px;
}

p.banner {
	width: 800px;
	height: 100px;
	text-align: center;
	/*color: #531b76;*/
	color: #42026a;
	/*color: #3c2e72;*/
	font-family: georgia, serif;
	font-size: 38px;
}

p.text {
	padding-top: 30px;
	padding-left: 20px;
	width: 560px;
	height: 380px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	color: #565656;
	font-family: verdana;
	font-size: 22px;
}

div.maind {
	width: 800px;
	height: 680px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	margin-top: 60px;
}

img.banner {
	padding-top: 20px;
	padding-bottom: 10px;
}

div.middle {
	width: 800px;
	height: 380px;
}

div.buttons {
	width: 800px;
}

img.picture {
	float: left;
	padding-left: 70px;
	padding-right: 20px;
}

img.text {
	padding-left: 20px;
	padding-right: 20px;
}

div.mbtnleft {
	float: left;
	margin-left: 50px;
	margin-right: 25px;
}

div.mbtn {
	float: left;
	margin-left: 25px;
	margin-right: 25px;
}

div.mbtnright {
	float: left;
	margin-left: 25px;
	margin-right: 50px;
}

div.directionstext {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

div.map {
	width: 800px;
	margin-left: 80px;
	margin-right: 80px;
}