body {
	background-color: #bbbabf;
}

div.main {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
}

img.buttona {
	float: left;
	padding-left: 50px;
	padding-right: 25px;
}

img.buttonb {
	float: left;
	padding-left: 25px;
	padding-right: 25px;
}

img.buttonc {
	float: left;
	padding-left: 25px;
	padding-right: 50px;
}

div.directionstext {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

div.map {
	width: 800px;
	margin-left: 80px;
	margin-right: 80px;
}