.panels {
    margin-top: 30px;
}

.panel {
    float: left;
    width: 160px;
    margin-right: 20px;
}

.endpanel {
    float: left;
    width: 160px;
    margin-right: 0px;
}

.date {
    font-family: monospace;
    text-align: center;
}

.wdsp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
