{% extends "template.html" %}
{% if pgid > 16 or pgid < 1 %}
{% set pgid = 1 %}
{% endif %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/stories/hop.css" />
{% endblock %}
{% block body %}
    {% include 'menu.html' %}
    <div id="story">
    <div class="square">
        <a href="/stories/hop/{{pgid + 1}}"><img src="/static/images/stories/hop/hop{{pgid}}.jpg" /></a>
    </div>
    <div class="nbs">
        {% if pgid == 1 %}
            <div class="nextspecial"><a href="/stories/hop/{{pgid + 1}}"><img src="/static/images/stories/hop/next.png" /></a></div>
        {% elif pgid == 16 %}
            <div class="back"><a href="/stories/hop/{{pgid - 1}}"><img src="/static/images/stories/hop/back.png" /></a></div>
            <div class="next"><a href="/"><img src="/static/images/stories/hop/home.png" /></a></div>
        {% else %}
            <div class="back"><a href="/stories/hop/{{pgid - 1}}"><img src="/static/images/stories/hop/back.png" /></a></div>
            <div class="next"><a href="/stories/hop/{{pgid + 1}}"><img src="/static/images/stories/hop/next.png" /></a></div>
        {% endif %}
    </div>
    </div>
{% endblock %}

