<html>
	<head>
		<title>Alena & Toby's Baby Shower</title>
		<link rel="stylesheet" type="text/css" href="/static/css/shower.css" />
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>
            $(function () {
                $(".b").mouseover(function () {
                    $(this).fadeTo(250, 0);
                }).mouseout (function () {
                    $(this).fadeTo(250, 1);
                }).each(function() {
                    var hsrc = $(this).attr("src").replace(".png", "_.png");
                    $(this).parent().parent().css('background-image', 'url('+hsrc+')');
                });
            });
        </script>
	</head>
	<body>
		<div class="main">
			<div class="banner">
				<p class="banner">
					Welcome! Please join us to celebrate<br />Alena & Toby's baby, due in November!
				</p>
			</div>
			<div class="middle">
				<img class="picture" src="/static/images/shower/elephant.jpg" />
				<p class="text">
					Sunday, September 22, 2013<br />1:00 - 5:00 pm<br /><br />668 Central Turnpike<br />Sutton, MA 01590<br /><br /><br />R.S.V.P. by September 14<br />to Nancy Sinacola<br />(508) 865 0236<br />or click the email link below<br />					
				</p>				
				<!--<img class="text" src="/static/images/shower/welcome.jpg" />-->
			</div>
			<div class="buttons">
				<div class="mbtnleft"><a href="http://www.amazon.com/gp/registry/registry.html/ref=cm_baby_ln_vw?ie=UTF8&homepageredirect=create&type=baby" /><img class="b" src="/static/images/shower/registry.png" /></a></div>
				<div class="mbtn"><a href="/directions.html"><img class="b" src="/static/images/shower/directions.png" /></a></div>
				<div class="mbtnright"><a href="mailto:njsinacola@gmail.com?subject=Alena's Baby Shower!"><img class="b" src="/static/images/shower/rsvp.png" /></a></div>
			</div>
		</div>
	</body>
</html>