<html>
	<head>
		<title>Alena & Toby's Baby Shower</title>
		<link rel="stylesheet" type="text/css" href="/static/css/shower.css" />
	</head>
	<body>
		<div class="main">
			<img class="welcome" /><img src="/static/images/shower/welcome.png" />
			<img src="/static/images/shower/elephant.jpg" />
			<div class="mainimage" /><img src="/static/images/shower/mainimage.jpg" />
			<img class="buttona" src="/static/images/shower/registry.png" />
			<a href="/directions.html"><img class="buttonb" src="/static/images/shower/directions.png" /></a>		
			<a href="mailto:njsinacola@gmail.com?subject=Alena's Baby Shower!"><img class="buttonc" src="/static/images/shower/rsvp.png" /></a>
		</div>
	</body>
</html>