{% extends "template.html" %}
{% block head %}
        <!-- facebook bullshittery -->
        <meta property="og:image" content="http://alenasinacola.net/static/images/gallery/portfolio/thumbs/02%20-%20self.jpg" />
{% endblock %}
{% block body %}
    <div class="name"><img src="/static/images/alena.png"></div>
    <div class="bwrapper">
        <div class="images">
            <div class="imageleft"><a href="/portfolio.html"><img src="/static/images/imgportfolio.jpg" /></a></div>
            <div class="imagemiddle"><a href="/stories.html"><img src="/static/images/imgstories.jpg" /></a></div>
            <div class="imagemiddle"><a href="/what.html"><img src="/static/images/imgwhat.jpg" /></a></div>
            <div class="imageright"><a href="/about.html"><img src="/static/images/imgabout.jpg" /></a></div>
        </div>
        <div class="buttons">
            <div class="buttonleft"><a href="/portfolio.html"><img class="b" src="/static/images/portfolio.png" /></a></div>
            <div class="buttonmiddle"><a href="/stories.html"><img class="b" src="/static/images/stories.png" /></a></div>
            <div class="buttonmiddle"><a href="/what.html"><img class="b" src="/static/images/weeklywhat.png" /></a></div>
            <div class="buttonright"><a href="/about.html"><img class="b" src="/static/images/aboutme.png" /></a></div>
        </div>
        <div class="copyright">
            <img class="copyright" src="/static/images/copyright.png">
        </div>
    </div>
{% endblock %}
