{% extends "template.html" %}
{% block body %}
    <div class="name"><img src="/static/images/alena.png"></div>
    <div class="bwrapper">
        <div class="images">
            <div class="imageleft"><a href="/portfolio.html"><img src="/static/images/imgportfolio.png" /></a></div>
            <div class="imagemiddle"><a href="/stories.html"><img src="/static/images/imgstories.png" /></a></div>
            <div class="imagemiddle"><a href="http://alenasinacola.blogspot.com/"><img src="/static/images/imgsketchblog.png" /></a></div>
            <div class="imageright"><a href="/about.html"><img src="/static/images/imgabout.png" /></a></div>
        </div>
        <div class="buttons">
            <div class="buttonleft"><a href="/portfolio.html"><img class="b" src="/static/images/portfolio.png" /></a></div>
            <div class="buttonmiddle"><a href="/stories.html"><img class="b" src="/static/images/stories.png" /></a></div>
            <div class="buttonmiddle"><a href="http://alenasinacola.blogspot.com/"><img class="b" src="/static/images/sketchblog.png" /></a></div>
            <div class="buttonright"><a href="/about.html"><img class="b" src="/static/images/aboutme.png" /></a></div>
        </div>
        <div class="copyright">
            <img class="copyright" src="/static/images/copyright.png">
        </div>
    </div>
{% endblock %}
