
        <div class="fourbuttons">
            <div class="btns"><a href="/"><img class="b" src="/static/images/1.png" /></a></div>
            <div class="btns"><a href="/portfolio.html"><img class="b" src="/static/images/2.png" /></a></div>
            <div class="btns"><a href="/stories.html"><img class="b" src="/static/images/3.png" /></a></div>
            <div class="btns"><a href="http://alenasinacola.blogspot.com/"><img class="b" src="/static/images/4.png" /></a></div>
            <div class="btns"><a href="/about.html"><img class="b" src="/static/images/5.png" /></a></div>    
        </div>
