
        <!-- I don't like doing this outside of <head /> but oh well -->
        <link rel="stylesheet" type="text/css" href="/static/css/menu.css" />
        <div class="menubuttons">
            <div class="mbtn"><a href="/"><img class="b" src="/static/images/1.png" /></a></div>
            <div class="mbtn"><a href="/portfolio.html"><img class="b" src="/static/images/2.png" /></a></div>
            <div class="mbtn"><a href="/stories.html"><img class="b" src="/static/images/3.png" /></a></div>
            <div class="mbtn"><a href="/what.html"><img class="b" src="/static/images/7.png" /></a></div>
            <div class="mbtn"><a href="/about.html"><img class="b" src="/static/images/5.png" /></a></div>    
        </div>
