{% extends "template.html" %}
{% block head %}
    <style type="text/css">
        .pbanner {
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            width: 480px;
        }
    </style>
{% endblock %}
{% block body %}
    {% include 'menu.html' %}
    <div class="pbanner"><a href="/gallery/illustration.html"><img src="/static/images/portfolio/illustration.jpg" /></a></div>
    <div class="pbanner"><a href="/gallery/figure.html"><img src="/static/images/portfolio/figure.jpg" /></a></div>
{% endblock %}

