{% extends "template.html" %}
{% block head %}
    <style type="text/css">
        .pbanner {
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            width: 480px;
        }
    </style>
{% endblock %}
{% block body %}
    {% include 'menu.html' %}
    <div class="pbanner"><a href="/stories/wheels/1"><img src="/static/images/stories/wheels.jpg" /></a></div>
    <div class="pbanner"><a href="/stories/ntbd/1"><img src="/static/images/stories/ntbd.jpg" /></a></div>
{% endblock %}